.imagem {
    background: linear-gradient(100deg, #303F9F, white 85%);

    height: 100vh;
}

.cadastro-titulo {
    font-weight: bold!important;
    
    color: #303F9F!important;
}

.decorator {
    text-decoration: none!important;
    margin: 10px!important;
}