.login-container {
    background: linear-gradient(100deg, #303F9F, white 72%)!important; 
    height: 100vh;
}

.form {
    margin-top: -100px;
    text-decoration: none!important;
}

.login-titulo {
    color: #303F9F!important;
}

.login-botao {
    text-decoration: none;
}

.cadastro-botao {
    text-decoration: none!important;
    margin-left: 5px;
}