.lista-container {
    display: inline-flex;
    justify-content: space-around;
    margin: 50px 50px;
    width: 25%;
}

.lista-titulo {
    color: #303F9F;
    
    font-weight: bold;
}

.lista-dados {
    color: #303F9F;
}

