.lista-container {
    display: inline-flex;
    justify-content: space-around;
    margin: 50px 50px!important;
    width: 25%!important;
}

.lista-titulo {
    color: #303F9F;
    
    font-weight: bold;
}

.lista-dados {
    color: #303F9F;
}

